/******************************

    Base

*******************************/

body {
    font-family:$main-type;
    font-size:$base-font-size;
    background:$bg-color;
    color:$text-color;
    font-weight:300;
    //background-image:linear-gradient($pink, $purple);

}

* {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
