---
title: How could we make patient statements easier to understand?
date: 2014-06-02 21:49 UTC
layout: blog_layout
tags: Kareo
industry: Healthcare
img: images/patient-statement.jpg
color: b496ca
icon: stethoscope
---


<p>
    While, I was at Kareo, I had the opportunity to do something that I wanted to do for a long time:
    redesign a medical bill.
</p>

<h2>Early Thinking</h2>
<p>
    Before I started designing any workflows or screens, I asked myself a lot of questions about
    what role personal health records (PHRs) serve and how we can deliver them to patients. I began
    by looking at how PHRs, patients, and providers interacted. One of our goals was to increase patient
    health awareness by making health information easy to get to and easy to understand.
</p>
<p>
    For practices, our goal was to increase patient responsiblity payments. In 2010, the US healthcare
    industry <a href="https://www.jpmorgan.com/cm/BlobServer/JPM-KeyTrends-in-HealthcarePatientPayments.pdf?blobkey=id&blobwhere=1320610345938&blobheader=application/pdf&blobheadername1=Cache-Control&blobheadervalue1=private&blobcol=urldata&blobtable=MungoBlobs">wrote off $65 billion</a> in bad debt accrued from not collecting patient payments. For our
    customers, the problem lies in archaic payment practices, which we hoped to innovate with Patient Portal.
</p>

<img src="/images/statement-sketch.jpg">

<h2>Getting out of the Building</h2>
<p>
    We learned from interviews with patients and healthcare professionals that
    patients don't care about statement details; they just want to know what they owe and how to pay it.

    This was difficult for us to believe. How could patients not care about what they're paying for? We
    listened to the feedback and designed a payment solution that payment solution (using Stripe) that
    connected to the Patient Portal. But we also let patients make payments without logging in, authenticating,
    and viewing their statements. All they could see if what they owed and to whom.
</p>
<blockquote>
    &ldquo;Patients don't care about statement details; they just want to know what they owe and how to pay it.&rdquo;
</blockquote>
<p>
    Turns out the hypothesis was correct. The conversion funnel for patients who don't log in is 52.1%,
    compared to 25% for those that do. This means that patients are twice as likely to make a payment
    if they don't know what they're paying for. However, this is only quantitative data, so we don't
    know exactly why this is happening.
</p>


<figure>
    <img src="/images/pub-metrics2.png">
    <figcaption>
        Another early prototype that showed data in aggregate and comparison mode. Comparing some
        elements doesn't make business sense. For example, comparing websites that target different
        audiences or that have different business objectives might not be valuable.
    </figcaption>
</figure>
<p>
    The other major piece of design work that feels missing from this is <strong>in-context actions</strong>. If
    I see that fill rates are down or placement eCPMs are not where I'd like them to be, I need to take some action:
    adjust placement floor rate, turn on new demand sources, maybe create new inventory. How do I do that? Those actions
    should be rolled into reporting somehow.
</p>
