---
title: How could we improve the patient appointment and check-in experience?
date: 2015-10-26 21:49 UTC
layout: blog_layout
tags: Kareo
industry: Healthcare
img: images/calendar.jpg
color: A9EEE6
icon: calendar
---


<p>
    At the end of 2013, Kareo began a monumental transformation: to begin transferring
    functionality from a Windows-only desktop client to a web-based experience. We
    didn't want to disrupt a major workflow (like billing) so we started with something
    small that the windows client was doing: scheduling. Scheduling is a key part of
    running a successful practice. The new Kareo calendar aims to improve the workflow,
    reduce data entry, and provide a more flexible interface for larger practices. We
    also made improvements on preventing duplicate patients which are a huge pain for practices.
</p>

<h2>What did we learn?</h2>
- Who uses the calendar and why?
- What information do these people need in order to make appointments?
- When are appointments made? What are the circumstances?
- Why don't practices use existing calendar products (like iCal or Google Calendar) to manage their appointments?
- What tasks are associated with a calendar?

<h2>Sketching Ideating</h2>
<p>
    There are a lot of things you can do with an appointment; it's easy when you're designing
     to not consider all the workflows and actions a user can take. Our customers shouldn't have
     to wonder what the next appropriate thing to do is when. We needed to figure out how to present
     these options to the customer and also figure what happens when these options are selected.
</p>
